
:root {
  --ui-element-height: 44px;


  --task-color-blue: #0560FD;
  --task-color-green: #14BCA8;
  --task-color-orange: #FD7C05;
}





#app {
  max-width: 1200px;
  min-width: 400px;
  width: 100%;
  margin: auto 0;
  font-weight: normal;
}
#app:before {
  background: #f6f8fc;
  opacity: 1;
  content: "";
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  will-change: transform;
  z-index: -1;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
  }
}

input, select, textarea {
  height: var(--ui-element-height);
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #ffffff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
}

input + .input-addon, select + .input-addon, input + .input-addon__required, select + .input-addon__required {
  margin-top: 20px;
}

.input-addon, .input-addon__required {
  position: relative;
  color: #b3c1d1;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 5px;
  width: fit-content;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  padding-right: 5px;
}
.input-addon__required:after {
  content: '*';
  position: absolute;
  color: #d80027;
  top: -2px;
  right: 0;
}

button {
  height: var(--ui-element-height);
  padding: 0 20px;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  transition: all .2s;
  top: 26px;
  left: 1230px;
  border-radius: 4px;
  background-color: #0560FD;
  border-width: 0.5px;
  border-color: #14BCA8;
}

.task-blue {
  --task-color: var(--task-color-blue);
}
.task-green {
  --task-color: var(--task-color-green);
}
.task-orange {
  --task-color: var(--task-color-orange);
}
